.khan__buy-link:link {
  line-height: 42px;
  font-size: 30px;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity 300ms;
  align-self: start;
}

.khan__buy-link:after {
  content: ' →';
}

.khan__buy-link:hover {
  opacity: .7;
}
